<div id="sobre">
    <p>Desenvolvido por Everton Lima</p>
    <p>Repositorio de projetos nao comerciais: https://github.com/EvertonLimaInovacaointeligentes</p>
    <p>Repositorio de projetos comerciais:</p>
    <p>http://www.inovacaointeligentes.com.br/colegioangular/</p>
    <p>http://www.manutec.net.br/</p>
    <p>http://inovacaointeligentes.com.br/transportadora/</p>
</div>
