

<div id="contato">
    <address>
        <p><strong>E-mail:</strong>   <a href="mailto:inovacaointeligentes@gmail.com">inovacaointeligentes@gmail.com</a></p>
        <p><strong>Telefone:</strong> (81) 9 9231.6097</p>

    </address>
</div>